/* eslint-disable react/jsx-props-no-spreading */
import React from 'react';
import { string, func, element, oneOfType, arrayOf } from 'prop-types';
import './{{pascalCase name}}.scss';

export default function {{pascalCase name}}({
  children,
  onClick,
  title,
  className,
  ...props
}) {
  return (
    <div className={className} onClick={onClick} role="presentation" {...props}>
      <h3>{title}</h3>
      {children}
    </div>
  );
}

{{pascalCase name}}.defaultProps = {
  children: null,
  title: 'Hello World',
  className: 'rex-{{dashCase name}}',
  onClick: () => null,
};

{{pascalCase name}}.propTypes = {
  children: oneOfType([string, element, arrayOf(element)]),
  title: string,
  className: string,
  onClick: func,
};
